.App {
  text-align: center;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
}


.Navigation-devider {
  height: 50px;
}

.nav-link {
  margin:  0 5px;
}

a.nav-link.nav-active {
  background-color: rgba(19, 124, 189, 0.3);
}

.LoginSection {
  background-color: #282c34;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.LoginSection-card {
  min-width: 250px;
}

.LoginSection-actions {
  padding-top: 10px;
  text-align: right;
}

.LoginSection-title {
  text-align: center;
  padding-bottom: 10px;
}

.PageSection {
  padding: 20px;
}

.LeadList {
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
}

.LeadList-card {
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.15), 0 0 0 rgba(16, 22, 26, 0), 0 0 0 rgba(16, 22, 26, 0);
  margin: 20px 0;
  padding: 10px;
  list-style: none;
}

.LeadList-row {
  display: grid;
  /* border: 1px solid black; */
  grid-template-columns: max-content auto;
  list-style: none;
}

.LeadList-actions {
  text-align: right;
  margin: 10px;
}

.LeadList-actions > *{
  margin-left: 10px;
}

.LeadList-item {
  margin: 10px;
  display: inline-block;
}

.LeadList-label {
  margin: 10px;
  font-weight: bold;
  display: inline-block;
}
